* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  justify-content: center;
}

/* navgation  */
header {
  display: flex;
  margin-top: -80px;
  margin-bottom: 30px;
  width: 90%;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
}

.logo {
  padding-left: 20px;
  font-weight: bolder;
  color: red;
}

nav {
  display: flex;
  gap: 20px;
  padding-right: 30px;
}

nav a {
  text-decoration: none;
  border: 1px solid;
  border-color: transparent transparent transparent black;
  padding-left: 10px;
  color: blue;
}

/* main  */
.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1px;
  width: 600px;
  align-items: center;
}

#books {
  width: 100%;
  border: 1px solid black;
}

hr {
  text-align: center;
  width: 16%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.main-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #8080803d;
}

.buton-books {
  width: 100%;
  display: flex;
  justify-content: end;
  font-weight: bold;
}

.buton-books button {
  background-color: red;
  color: white;
}

.pargraph-books {
  width: 100%;
  font-weight: bold;
}

#title {
  border: 2px solid black;
  width: 30%;
  margin-top: 10px;
}

#author {
  border: 2px solid black;
  width: 30%;
  margin-top: -10px;
}

#add {
  margin-left: 152px;
  background-color: green;
  padding: 3px;
  color: white;
  font-weight: bold;
}

/* section */
section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.h1-contact {
  padding: 35px;
}

.container p {
  padding-bottom: 20px;
}

.ul-div {
  padding-left: 45px;
}

/* copyright */
footer {
  width: 98%;
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  height: 100%;
  width: 90%;
  border: 2px solid black;
  margin-top: 316px;
  padding-left: 15px;
}

#bookInput {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
