* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1px;
  width: 600px;
  align-items: center;
}

#books {
  width: 100%;
  border: 1px solid black;
}

hr {
  text-align: center;
  width: 16%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.main-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #8080803d;
}

.buton-books {
  width: 100%;
  display: flex;
  justify-content: end;
  font-weight: bold;
}

.buton-books button {
  background-color: red;
  color: white;
}

.pargraph-books {
  width: 100%;
  font-weight: bold;
}

#title {
  border: 2px solid black;
  width: 30%;
  margin-top: 10px;
}

#author {
  border: 2px solid black;
  width: 30%;
  margin-top: -10px;
}

#add {
  margin-left: 152px;
  background-color: green;
  padding: 3px;
  color: white;
  font-weight: bold;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

#logo {
  padding-left: 20px;
  padding-top: 10px;
  text-decoration: none;
  font-size: 30px;
  color: white;
}

#nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: 100px;
  font-size: 20px;
}
